/*
* @Author: 小
* @Date:   2017-04-16 17:03:35
* @Last Modified by:   小
* @Last Modified time: 2017-04-16 22:49:10
*/
.shizi-main{
	width: 100%;
	/* overflow: hidden; */
	height: 517px;
	background: #f5f5f5;
	float: left;
}
.shizi-con{
	width: 1200px;
	margin: 50px auto;
	overflow: hidden;
	/* background: red; */
	text-align: center;
	font-size: 21px;
}
.shizi-list{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto ;

}
.shizi-list li{
	width: 590px;
	height: 357px;
	float: left;
	position: relative;
	margin-top: 105px;
	margin-right: 20px;
	padding-top: 20px;
	/* background: black; */
}

.t1{
	width: 298px;
	height: 317px;
	background: #819487;
	float: left;
	position: relative;
	z-index: 999;
}
.shizi1{
	width: 290px;
	height: 300px;
	position: absolute;
	bottom: 0;
	left: 4px;

}
.jieshi{
	width: 410px;
	height: 100%;
	background: #eaedeb;
	float: right;
	border-right: 7px solid #415740;
	padding: 10px;
	padding-left: 130px;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
	/* margin-left: -112px; */
	position: absolute;
	top: 0;
	right: 0;
}
.con{
	width: 334px;
	height: 55px;
	background: #549A31;
	/* margin: 105px auto; */
	/* margin-top: 105px; */
	line-height: 55px;
	text-align: center;
	color: #fff;
	position: absolute;
	/* top: 105px; */
	left: 0;
	right: 0;
	margin: auto;
}
.lainxi{
	width: 1200px;
	margin: 105px auto;
	overflow: hidden;
	height: 55px;
	text-align: center;
	position: relative;
}